@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

body {
    font-family: 'Palette Mosaic', cursive;
    font-size: 50px;
    text-align: center;
}

input {
    height: 75px;
    width: 25pc;
    font-family: 'Palette Mosaic', cursive;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: large;
    padding-left: 25px;
    border: solid black 5px;
}

button {
    font-family: 'Palette Mosaic', cursive;
    font-size: 20px;
    height: 86.5px;
    width: 10pc;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -44px;
    border: solid black 5px;
}

a {
    text-decoration: none;
    color: black;
}